<main>
  <section>
    <h2>&#128078; 404</h2>
    <p>
      Is there a typo in the URL you entered?
      The resource you requested could not be found.
      It may never have existed, or you might have used a
      broken link... 
    </p>
    <span>¯\_(ツ)_/¯</span>
  </section>
  <section>
    <h2>&#128083; Something missing?</h2>
    <p>
      If you're sure there should be something here,
      shoot me a message with the form below:
    </p>
    {{> contact }}
  </section>
</main>