<main>
  <section>
    <h2>&#128214; About Me</h2>
    <img src="/assets/country-road.png" alt="Country Road Image">
    <p>
      I was born and raised in the Southern Downs, QLD. I had 
      interests in sport, art, and music in my youth, but it 
      wasn't until I finished highschool and spent some time
      in Brisbane that I discovered programming.
    </p>
    <p>
      I distinctly remember wishing that I had more time to understand
      maths when I was finishing year 12. So, when I left, I decided
      to spend some time doing independent study.
    </p>
    <p>
      Hospitality can be a good flexible choice for work when you
      want time for other things, so I worked in a restaurant and
      learned about logic and set theory in my spare time. I delved
      right in to the nitty-gritty of it all, and somewhere along
      the line I came across programming. 
    </p>
    <p>
      I loved the formal aspects of maths and logic, and programming
      involved the same kind of thinking, but it was also a whole lot
      more - a highly practical and very creative application of what 
      I had been investigating! 
    </p>
  </section>
  <section>
    <h2>&#127891; Education</h2>
    <p>
      I was determined to build myself a career as a developer - 
      from scratch. Unfortunately, my mental health took a turn
      for the worst, and I ended up moving back to my hometown
      to live with my parents.
    </p>
    <p>
      Before too long, I was back in business and decided to
      enroll in a Bachelor of IT at USQ. I enjoyed my time studying
      there, but I soon found it to be far to slow paced and the 
      content didn't build on itself much. So, after a few months
      of deliberation, I ended up enrolling in a Web development
      bootcamp with 
      <a href="https://www.coderacademy.edu.au/">Coder Academy</a>!
    </p>
    <p>
      (I won't be looking back)
    </p>
  </section>
  <section>
    <h2 id="what-ive-learned">&#128203; What I've Learned</h2>
    <img src="/assets/skills.png" alt="Tech Stack Logos">
    <p>
      I've used a variety of technologies over the past few years, as I've
      done a fair bit of programming in my own time. I started off with
      Python, and I have a couple of repositories on GitHub to show for it. 
    </p>
    <p>
      <strong>PiFiles</strong> is a DIY file server application I developed for 
      my Rasperry Pi back in 2020. You'll find the code in the following two
      repos:
    </p>
    <ul>
      <li><a href="https://github.com/R-Neville/PiFilesServer">PiFilesServer</a></li>
      <li><a href="https://github.com/R-Neville/PiFilesGUIClient">PiFilesGUIClient</a></li>
    </ul>
    <h3>Coloureyes</h3>
    <p>
      As far as Web dev is concerned, I've published two sites on Heroku.
      The first was a basic local storage colour picker application called 
      'Coloureyes', with which you can save colours as favourites and also 
      group them into palettes (handy if you're designing something). The code 
      is not published, but you can view the site 
      <a href="https://coloureyes.herokuapp.com/">here</a>.
    </p>
    <h3>ventrebor.com</h3>
    <p>
      The second site is for one of my music projects. Last year I started to release
      music under the name of 'Ven Trebor', and <a href="https://ventrebor.herokuapp.com/">this</a>
      is what I came up with to promote it.
    </p>
    <h3>IDE</h3>
    <p>
      The most recent project that I've been working on is an IDE built with TypeScript
      and Electron.js. It's been the most challenging software that I've attempted
      so far - an incredibly rewarding process. I actually initially began the project
      with C++ using the Qt GUI toolkit, but later decided that I wanted to use Electron.
      The first version with Electron involved the use of vanilla JS and custom HTML elements, 
      and I got as far as implementing syntax highlighting. However, I decided to make the
      application a little more robust and rewrote what I'd done so far in TypeScript.
      I haven't reached a stage where I'm ready to publish this project yet, but I'd be 
      happy to add the curious as collaborators!
    </p>
    <p>
      I discuss these projects in more detail in my <a href="/blog">blog</a> :)
    </p>
  </section>
  <section>
    <h2>&#127926; I Make Music Too</h2>
    <p>
      As alluded to earlier, I also make music. I've been playing guitar since I was 8 years old
      and I started to write and record songs under the name of 'Ven Trebor' in 2020. I released
      my debut, self-titled album in June 2021. And followed up with a 6-track EP called
      <em>A New Horizon</em> in December 2021.
    </p>
    <p>
      More recently, however, I've tried my hand at producing electronic music (which is my goto
      genre for listening), and I'm absolutely loving it! It's so much fun experimenting with
      synthesizers and effects, and making your own samples.
    </p>
    <p>
      One aspect of creating music that I also enjoy is designing artwork for releases. I primarily
      use Inkscape for this, and have included a discography of my work in this site.
    </p>
    <a href="/discography">Discography >></a>
  </section>
</main>