<main>
  <section>
    <h2>&#128226; Blog posts</h2>
    <div class="blog-posts">
      <a class="blog-post-link" href="#">
        <div class="header">
          <img class="thumbnail" src="assets/blog-post-4-thumbnail.jpg" alt="Yonder by Gyan Kelly Image"/>
          <div>
            <span class="title">Gyan Kelly: Three More Tracks Queued Up!</span>
            <span class="date">05/03/2022</span>
          </div>
        </div>
      </a>
      <a class="blog-post-link" href="#">
        <div class="header">
          <img class="thumbnail" src="assets/blog-post-3-thumbnail.jpg" alt="Yonder by Gyan Kelly Image"/>
          <div>
            <span class="title">Gyan Kelly: First Track Released</span>
            <span class="date">04/03/2022</span>
          </div>
        </div>
      </a>
      <a class="blog-post-link" href="#">
        <div class="header">
          <img class="thumbnail" src="assets/blog-post-2-thumbnail.png" alt="IDE Logo Image"/>
          <div>
            <span class="title">IDE: TypeScript Rebuild</span>
            <span class="date">03/03/2022</span>
          </div>
        </div>
      </a>
      <a class="blog-post-link" href="#">
        <div class="header">
          <img class="thumbnail" src="assets/blog-post-1-thumbnail.png" alt="JavaScript Code Image"/>
          <div>
            <span class="title">IDE: Syntax Highlighter</span>
            <span class="date">02/03/2022</span>
          </div>
        </div>
      </a>
    </div>
  </section>
</main>