<main>
  {{!-- Blog posts list section: --}}
  <section>
    <h2>&#128226; Blog posts</h2>
    <nav class="blog-posts">
      {{!-- Blog post link component: --}}
      <a class="blog-post-link" href="/blog-posts/first-repos-published">
        <span class="id">#005</span>
        <img class="thumbnail" src="/assets/images/blog/first-repos-published-blog-post-thumbnail.png" alt="PiFiles Screenshot">
        <div>
          <span class="title">First Repos Published!</span>
          <span class="date">06/03/2022</span>
        </div>
      </a>
      {{!-- Blog post link component: --}}
      <a class="blog-post-link" href="/blog-posts/typescript-rebuild">
        <span class="id">#004</span>
        <img class="thumbnail" src="/assets/images/blog/typescript-rebuild-blog-post-thumbnail.png" alt="Screenshot of IDE made with typescript">
        <div>
          <span class="title">IDE: TypeScript Rebuild</span>
          <span class="date">05/03/2022</span>
        </div>
      </a>
      {{!-- Blog post link component: --}}
      <a class="blog-post-link" href="/blog-posts/syntax-highlighter">
        <span class="id">#003</span>
        <img class="thumbnail" src="/assets/images/blog/syntax-highlighter-blog-post-thumbnail.png" alt="Screenshot of JavaScript code">
        <div>
          <span class="title">IDE: Syntax Highlighter</span>
          <span class="date">04/03/2022</span>
        </div>
      </a>
      {{!-- Blog post link component: --}}
      <a class="blog-post-link" href="/blog-posts/first-site-published">
        <span class="id">#002</span>
        <img class="thumbnail" src="/assets/images/blog/first-site-published-blog-post-thumbnail.png" alt="Screenshot of Coloureyes website">
        <div>
          <span class="title">First Site Published!</span>
          <span class="date">03/03/2022</span>
        </div>
      </a>
      {{!-- Blog post link component: --}}
      <a class="blog-post-link" href="/blog-posts/looking-qt">
        <span class="id">#001</span>
        <img class="thumbnail" src="/assets/images/blog/looking-qt-blog-post-thumbnail.png" alt="Screenshot of IDE made with C++">
        <div>
          <span class="title">IDE: Looking Qt!</span>
          <span class="date">02/03/2022</span>
        </div>
      </a>
    </nav>
  </section>
</main>