<main>
  <section>
    <h2>&#128221; Blog posts</h2>
    <div class="blog-posts">
      <a class="blog-post-link" href="#">
        <div class="header">
          <img class="thumbnail" src="assets/rn.jpg" alt="RN Image"/>
          <div>
            <span class="title">Really Really Really long title</span>
            <span class="date">27/09/1994</span>
          </div>
        </div>
      </a>
    </div>
  </section>
</main>