<main>
  <section>
    <h2>&#128236; Contact Me</h2>
    <p>
      If you would like to get in contact with me, please don't hesitate to
      send me a message with the form below, or email me directly at 
      <strong>gcab012204@coderacademy.edu.au</strong> !
    </p>
    {{> contact }}
  </section>
</main>