<main>
  <section>
    <h2>&#128192; Discography</h2>
    <div class="release">
      <span class="type">single</span>
      <div class="title-date">
          <h3>Tracks</h3>
          <span>May 15, 2021</span>
        </div>
      <div class="cover-info">
        <img src="/assets/images/cover-art/tracks-cover.png" alt="Tracks single cover">
        <p>
          'Tracks' is a song that celebrates the moment when we finally
          hit the ground running after contemplating change.
        </p>
      </div>
      <div class="track-list">
        <div class="toggle">
          <h4>Track List</h4>
          <div>
            <svg width="15" height="20">
              <path d="M0 10 L15 20 L15 0 Z"/>
            </svg>
          </div>
        </div>
        <ul>
            <li>
              <span class="number">1.</span>
              <span class="title">Tracks</span>
              <span class="length">4:01</span>
            </li>
          </ul>
      </div>
    </div>
    <div class="release">
      <span class="type">album</span>
      <div class="title-date">
          <h3>Ven Trebor</h3>
          <span>June 19, 2021</span>
        </div>
      <div class="cover-info">
        <img src="/assets/images/cover-art/ven-trebor-cover.png" alt="Ven Trebor album cover">
        <p>
          'Ven Trebor' is my debut 8-track album - a collection of songs
          that I wrote during 2020 and recorded in a friend's home studio.
        </p>
      </div>
      <div class="track-list">
        <div class="toggle">
          <h4>Track List</h4>
          <div>
            <svg width="15" height="20">
              <path d="M0 10 L15 20 L15 0 Z"/>
            </svg>
          </div>
        </div>
        <ul>
            <li>
              <span class="number">1.</span>
              <span class="title">Tracks</span>
              <span class="length">4:01</span>
            </li>
            <li>
              <span class="number">2.</span>
              <span class="title">Pilgrimage</span>
              <span class="length">4:48</span>
            </li>
            <li>
              <span class="number">3.</span>
              <span class="title">Neverland</span>
              <span class="length">4:15</span>
            </li>
            <li>
              <span class="number">4.</span>
              <span class="title">Blue</span>
              <span class="length">3:40</span>
            </li>
            <li>
              <span class="number">5.</span>
              <span class="title">Undertow</span>
              <span class="length">6:17</span>
            </li>
            <li>
              <span class="number">6.</span>
              <span class="title">Figurehead</span>
              <span class="length">5:47</span>
            </li>
            <li>
              <span class="number">7.</span>
              <span class="title">Ellipse</span>
              <span class="length">5:17</span>
            </li>
            <li>
              <span class="number">8.</span>
              <span class="title">Roots</span>
              <span class="length">3:02</span>
            </li>
          </ul>
      </div>
    </div>
    <div class="release">
      <span class="type">single</span>
      <div class="title-date">
          <h3>This Little House</h3>
          <span>November 20, 2021</span>
        </div>
      <div class="cover-info">
        <img src="/assets/images/cover-art/this-little-house-cover.png" alt="This Little House single cover">
        <p>
          The first single from my EP <em>A New Horizon</em>, 'This Little House' was 
          the first song I recorded in my bedroom studio. It's about mindfulness.
        </p>
      </div>
      <div class="track-list">
        <div class="toggle">
          <h4>Track List</h4>
          <div>
            <svg width="15" height="20">
              <path d="M0 10 L15 20 L15 0 Z"/>
            </svg>
          </div>
        </div>
        <ul>
            <li>
              <span class="number">1.</span>
              <span class="title">This Little House</span>
              <span class="length">4:03</span>
            </li>
          </ul>
      </div>
    </div>
    <div class="release">
      <span class="type">single</span>
      <div class="title-date">
          <h3>Skids</h3>
          <span>November 27, 2021</span>
        </div>
      <div class="cover-info">
        <img src="/assets/images/cover-art/skids-cover.png" alt="Skids single cover">
        <p>
          'Skids' is a song that I wrote about growing up.
          It was the second single from my EP <em>A New Horizon</em>.
        </p>
      </div>
      <div class="track-list">
        <div class="toggle">
          <h4>Track List</h4>
          <div>
            <svg width="15" height="20">
              <path d="M0 10 L15 20 L15 0 Z"/>
            </svg>
          </div>
        </div>
        <ul>
            <li>
              <span class="number">1.</span>
              <span class="title">Skids</span>
              <span class="length">4:35</span>
            </li>
          </ul>
      </div>
    </div>
    <div class="release">
      <span class="type">single</span>
      <div class="title-date">
          <h3>Two Lovers</h3>
          <span>December 4, 2021</span>
        </div>
      <div class="cover-info">
        <img src="/assets/images/cover-art/two-lovers-cover.png" alt="Two Lovers single cover">
        <p>
          'Two Lovers' - the third single from my EP <em>A New Horizon</em> is about 
          feeling like you're missing out on something special - relationships, in particular.
        </p>
      </div>
      <div class="track-list">
        <div class="toggle">
          <h4>Track List</h4>
          <div>
            <svg width="15" height="20">
              <path d="M0 10 L15 20 L15 0 Z"/>
            </svg>
          </div>
        </div>
        <ul>
            <li>
              <span class="number">1.</span>
              <span class="title">Two Lovers</span>
              <span class="length">3:43</span>
            </li>
          </ul>
      </div>
    </div>
    <div class="release">
      <span class="type">EP</span>
      <div class="title-date">
          <h3>A New Horizon</h3>
          <span>December 11, 2021</span>
        </div>
      <div class="cover-info">
        <img src="/assets/images/cover-art/a-new-horizon-cover.png" alt="Skids single cover">
        <p>
          I recorded all the songs on this EP in my bedroom studio.
        </p>
      </div>
      <div class="track-list">
        <div class="toggle">
          <h4>Track List</h4>
          <div>
            <svg width="15" height="20">
              <path d="M0 10 L15 20 L15 0 Z"/>
            </svg>
          </div>
        </div>
        <ul>
          <li>
              <span class="number">1.</span>
              <span class="title">On The Wind</span>
              <span class="length">3:20</span>
            </li>
            <li>
              <span class="number">2.</span>
              <span class="title">Skids</span>
              <span class="length">4:35</span>
            </li>
            <li>
              <span class="number">3.</span>
              <span class="title">Kimosabe</span>
              <span class="length">4:23</span>
            </li>
            <li>
              <span class="number">4.</span>
              <span class="title">This Little House</span>
              <span class="length">4:03</span>
            </li>
            <li>
              <span class="number">5.</span>
              <span class="title">Two Lovers</span>
              <span class="length">3:43</span>
            </li>
            <li>
              <span class="number">6.</span>
              <span class="title">Aurora</span>
              <span class="length">4:38</span>
            </li>
          </ul>
      </div>
  </section>
</main>