<main>
  <section>
    <h2>&#128075; Hi, I'm Rob</h2>
    <img src="/assets/images/rn.jpg" alt="RN Image">
    <p>
      I'm a programming enthusiast, currently studying Web development
      at <a href="https://www.coderacademy.edu.au/">Coder Academy</a>. This 
      is a portfolio website for my first coding assessment piece!
    </p>
  </section>
  <section>
    <h2>&#128064; My Interests</h2>
    <p>
      I am passionate about programming in general, but I have a soft spot for JavaScript.
      My current goal is to be working as a full-stack JavaScript developer by mid 2023.
    </p>
  </section>
  <section>
    <h2>&#127793; Current Learning</h2>
    <p>
      Through my studies at Coder Academy I've been brushing up on my understanding
      of HTML and CSS, learning SaSS, and soon I will be diving into the world of
      Ruby!
    </p>
    <p>
      In my own time, I've been learning TypeScript by building my own IDE. 
      I'm using Electron.js for this application, and I've decided to avoid
      front-end frameworks in favour of custom HTML components.
      It's been an exciting process and I'd love to share my progress sometime :)
    </p>
    <a href="/about#what-ive-learned">READ MORE >></a>
  </section>
  <section>
    <h2>&#128119; Current Job</h2>
    <img src="/assets/images/latte.png" alt="Latte Image">
    <p>
      I currently work in a local cafe. I've been in hospitality since 
      I was about 15. It's always just been work to me, and I've spent all 
      my time off pursuing what I'm really interested in. Through hospitality,
      I've learned valuable people and time-management skills, and made
      good friends along the way, but I'm honestly a bit jaded - ready for 
      something more fulfilling!
    </p>
    <a href="/resume.pdf">RESUME >></a>
  </section>
</main>