<main>
  <section>
    <h2>&#128075; Hello!</h2>
    <p>
      My name is Rob. I'm a Web development enthusiast, currently studying 
      at <a href="https://www.coderacademy.edu.au/">CoderAcademy</a>, and this 
      is a portfolio website for my first coding assessment piece!
    </p>
  </section>
</main>