<main>
  <section>
    <h2>&#128075; Hi, I'm Rob</h2>
    <img src="assets/rn.jpg" alt="RN Image">
    <p>
      I'm a programming enthusiast, currently studying Web development
      at <a href="https://www.coderacademy.edu.au/">CoderAcademy</a>. This 
      is a portfolio website for my first coding assessment piece!
    </p>
  </section>
  <section>
    <h2>&#128064; My Interests</h2>
    <p>
      I am passionate about programming in general, but I have a soft spot for JavaScript.
      My current goal is to be working as a full-stack JavaScript developer by mid 2023.
    </p>
    <a href="/about">Read more >></a>
  </section>
  <section>
    <h2>&#127793; Current Learning</h2>
    <p>
      I'm currently learning TypeScript by building my own IDE with Electron.js.
      It's been an exciting process and I'd love to share my progress sometime :)
    </p>
    <p>
      I'm also learning SaSS, which I can see I won't be able to live without before
      too long!
    </p>
  </section>
</main>