html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

@font-face {
  font-family: "Roboto Mono", monospace;
  src: url("assets/RobotoMono-Regular.ttf");
}
* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #D6DBDF;
}
header * {
  user-select: none;
}
header img {
  border: 2px solid #1B2631;
  border-radius: 50%;
  margin-bottom: 1em;
}
header nav {
  display: flex;
}
header nav a {
  margin: 0 1em;
  text-decoration: none;
  color: #1B2631;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #D98880;
  background-image: url("assets/moroccan-flower.png");
}
main section {
  padding: 1em;
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 5px 10px #1B2631;
  background-color: #D6DBDF;
  color: #1B2631;
}
main section h2 {
  border-bottom: 2px solid #1B2631;
  margin-top: 0;
}
main section p {
  text-align: justify;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B2631;
  color: #D6DBDF;
}
