<form class="contact">
  <fieldset class="name">
    <label for="name">NAME</label>
    <input name="name"type="text">
  </fieldset>
  <fieldset class="email">
    <label for="email">EMAIL</label>
    <input name="email" type="text">
  </fieldset>
  <fieldset class="message">
    <label for="message">MESSAGE</label>
    <textarea name="message" rows="10"></textarea>
  </fieldset>
  <fieldset class="buttons">
    <button type="reset">RESET</button>
    <button type="submit">SEND</button>
  </fieldset>
</form>