<footer>
  <img src="assets/scribble-EBEDEF.svg" alt="RN Image" width="100px">
  <nav>
    <a href="/">HOME</a>
    <a href="#">ABOUT</a>
    <a href="/blog">BLOG</a>
    <a href="#">CONTACT</a>
  </nav>
  <p>&copy; 2022, Robert Neville</p>
</footer>