<footer>
  <img src="/assets/images/logos/logo-EBEDEF.svg" alt="logo" height="40px">
  <nav>
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/blog">BLOG</a>
    <a href="/contact">CONTACT</a>
  </nav>
  <p>&copy; 2022, Robert Neville</p>
</footer>