<footer>
  <img src="/assets/images/logos/logo-EBEDEF.svg" alt="logo" height="40px">
  <nav>
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/blog">BLOG</a>
    <a href="/contact">CONTACT</a>
  </nav>
  <div class="socials">
    <a href="https://github.com/R-Neville">
      <img src="/assets/images/logos/github-EBEDEF.png" alt="GitHub logo">
    </a>
    <a href="https://www.linkedin.com/in/r-neville/">
      <img src="/assets/images/logos/linkedin-EBEDEF.png" alt="LinkedIn logo">
    </a>
  </div>
  <p>&copy; 2022, Robert Neville</p>
</footer>