<header>
  <nav>
    <a class="header-nav-link" href="/">HOME</a>
    <a class="header-nav-link" href="/about">ABOUT</a>
    <a class="header-nav-link" href="/blog">BLOG</a>
    <a class="header-nav-link" href="/contact">CONTACT</a>
  </nav>
</header>