<header>
  <div class="logo">
    <img src="/assets/scribble-EBEDEF.svg" alt="RN Scribble" height="25px"/>
  </div>
  <nav>
    <a class="header-nav-link" href="/">HOME</a>
    <a class="header-nav-link" href="/about">ABOUT</a>
    <a class="header-nav-link" href="/blog">BLOG</a>
    <a class="header-nav-link" href="/contact">CONTACT</a>
  </nav>
</header>