<header>
  <img src="/assets/images/logos/logo-1B2631.svg" alt="logo" height="25px"/>
  <nav>
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/blog">BLOG</a>
    <a href="/contact">CONTACT</a>
  </nav>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</header>