<main>
  <section>
    <h2>First Repos Published!</h2>
    <img src="/assets/first-repos-published-blog-post-thumbnail.png" alt="Screenshot of PiFiles"/>
    <div class="date-time">
      <span class="date">06/03/2022</span>
      <span class="time">17:15</span>
    </div>
    <p>
      I have some exciting news (exciting for me anyway...). I published two repos on GitHub, 
      recently - just so I had at least some example code up there. The repos are:
    </p>
    <ul>
      <li>
        <a href="https://github.com/R-Neville/PiFilesGUIClient">PiFilesGUIClient</a>
      </li>
      <li>
        <a href="https://github.com/R-Neville/PiFilesServer">PiFilesServer</a>
      </li>
    </ul>
    <p>
      Together they comprise a local file server system that I coded as a Raspberry Pi project.
      Basically, the client scans the network for available hosts, and you select the machine
      that is running the server on it and enter the port number that was configured. After
      that, you can browse files on the server, upload them to it, and, of course, download
      them to the computer that is running the client.
    </p>
    <p>
      I built this project with Python, using PyQt (a Python Qt binding). It was a lot of fun,
      and I learned a bit about networking along the way. Honestly, the GUI could be a bit 
      prittier... But, hey! it was one of my first propper home Python projects, and it 
      works like a treat!
    </p>
    <p>
      I might even remake it with Electron one day... ;)
    </p>
  </section>
</main>