<main>
  <section>
    <h2>IDE: Looking Qt!</h2>
    <img src="/assets/images/blog/looking-qt-blog-post-thumbnail.png" alt="Screenshot of IDE made with C++">
    <div class="date-time">
      <span class="date">02/03/2022</span>
      <span class="time">19:05</span>
    </div>
    <p>
      In early 2021, I wanted to build a non-trivial desktop application. At the time I was learning a
      bit of C++, and I discovered Qt. Qt is a very powerful GUI toolkit for C++, which also
      has Python bindings. One of the major features of it that I was attracted to is
      that it supports stylesheets similar to CSS. I'd primarily explored Web development in the past,
      and I really liked the ease with which you can apply styling to GUI elements (HTML) using CSS.
      I also felt that a text editor would be a relatively simple - yet very useful - program to implement.
      So, I got stuck into building 'Textual'.
    </p>
    <p>
      There was a fairly steep learning curve to begin with, as I hadn't used C++ much before, but I found
      a great book called '<em>C++ Crash Course</em>' that helped my understanding of OOP in C++, which is
      heavily relied upon in Qt development. Regarding the actual Qt framework, I began with a few basic
      youtube tutorials (and used Stack Overflow A LOT), but as I got the hang of it all, I found
      that I spent nearly all my time referring to the Qt documentation. This documentation, by the way,
      is excellent! It's very easy to read and includes heaps of example code.
    </p>
    <p>
      After a lot of hard work, I managed to complete the edtior's basic functionality as well as 
      a file explorer that enables the user to open a workspace (directory). This presents as a tree
      structure with expandable (and collapsable) directories as the branch junctures - much like any other 
      IDE on the market.
    </p>
    <p>
      I got to the stage where I was ready to start implementing syntax highlighting, but then I became 
      preoccupied with UNI and did not progress any further.
    </p>
    <h3>Snippets</h3>
    <figure>
      <figcaption>main.cpp</figcaption>
      <pre>
        <code class="language-c++">
#include "MainWindow.h"

#include &lt;QApplication>
#include &lt;QFile>
#include &lt;QJsonDocument>
#include &lt;QDebug>

QString readTextFile(QString);

int main(int argc, char *argv[])
{
    QApplication app(argc, argv);

    // Set stylesheet:
    QString stylesheet = readTextFile(":/styles/global.css");
    if (stylesheet.length() > 0) app.setStyleSheet(stylesheet);

    // Load config:
    QString configString = readTextFile(":/config/app.config.json");
    QJsonDocument configDocument = QJsonDocument::fromJson(configString.toUtf8());
    QJsonObject config = configDocument.object();

    MainWindow window(config);
    window.show();

    return app.exec();
}

QString readTextFile(QString path)
{
    QFile file(path);

    if (file.open(QIODevice::ReadOnly | QIODevice::Text))
    {
        QTextStream in(&amp;file);
        return in.readAll();
    }

    return "";
}
        </code>
      </pre>
    </figure>
    <a href="/blog">Back To Blog >></a>
  </section>
</main>
<script>hljs.highlightAll();</script>