<main>
  <section>
    <h2>IDE: TypeScript Rebuild</h2>
    <img src="/assets/images/blog/typescript-rebuild-blog-post-thumbnail.png" alt="Screenshot of IDE made with TypeScript"/>
    <div class="date-time">
      <span class="date">05/03/2022</span>
      <span class="time">15:30</span>
    </div>
    <p>
      Around the time when I'd reached the difficult part of the syntax highlighter for
      my IDE (as discussed in my <a href="/blog-posts/syntax-highlighter">previous blog post</a>),
      I got curious about TypeScript. I noticed that many Electron apps use it instead of 
      plain old JS. So, I watched a few YouTube videos and decided to rebuild the IDE with it.
    </p>
    <p>
      I haven't got as far as reimplementing and improving syntax highlighting yet, but I'm on track!
      At the moment, the main obstacle is finding the time - I've been working, studying, and making
      lots of music...
    </p>
    <p>
      I've also managed to structure the project a bit more 'professionally', and I'm much happier
      with it!
    </p>
  </section>
</main>