
// Colours:
$header-bg: #EBEDEF;
$header-text: #1B2631;
$main-bg: #D98880;
$footer-bg: $header-text;
$footer-text: $header-bg;
$section-bg: $header-bg;
$section-text: $header-text;
$section-link-bg: $footer-bg;
$section-link-bg-hover: #2E4053;
$error-border: #C0392B;
$error-bg: #F5B7B1;
$error-bg-hover: #F1948A;
$error-text: $error-border;
$success-border: #16A085;
$success-bg: #A9DFBF;
$success-bg-hover: #7DCEA0;
$success-text: $success-border;
$blog-post-link-bg: #AEB6BF;
$blog-post-link-bg-hover: $section-text;
$blog-post-text: $section-text;
$blog-post-text-hover: $section-bg;
$release-bg: $blog-post-link-bg;
$release-bg-hover: $blog-post-link-bg-hover;
$release-text: $blog-post-text;
$release-text-hover: $blog-post-text-hover;
