// Lengths:
$header-height: 65px;

// Colours:
$header-bg: #EBEDEF;
$main-bg: #D98880;
$section-bg: $header-bg;
$footer-bg: #1B2631;
$section-text: $footer-bg;
$footer-text: $header-bg;
$section-link-bg: #2E4053;