@import "variables";

html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url("assets/RobotoMono-Regular.ttf");
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0 1em;
  width: 100%;
  height: $header-height;
  background-color: $header-bg;

  * {
    user-select: none;
  }

  img {
    border-radius: 4px;
    margin-bottom: 1em;
  }

  nav {
    display: flex;

    a {
      padding: 5px 10px;
      border: 2px solid $header-bg;
      text-decoration: none;
      color: $footer-bg;

      &:hover {
        border-bottom: 2px solid $footer-bg;
      }
    }
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-top: $header-height; // Header height
  background-color: $main-bg;
  // Downloaded from: https://www.transparenttextures.com/
  background-image: url('../assets/my-little-plaid-dark.png');

  section {
    padding: 1em;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px $footer-bg;
    margin-bottom: 1em;
    background-color: $header-bg;
    color: $footer-bg;

    h2 {
      border-bottom: 2px solid $footer-bg;
      margin-top: 0;
    }

    img {
      width: 100%;
    }

    p {
      text-align: justify;
    }

    > a {
      float: right;
      padding: 5px 10px;
      border-radius: 3px;
      background-color: $section-link-bg;
      text-decoration: none;
      color: $section-bg;

      &:hover {
        background-color: $section-text;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: $footer-bg;
  color: $footer-text;

  img {
    margin-bottom: 1em;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      padding: 5px;
      width: 100px;
      text-align: center;
      text-decoration: none;
      color: inherit;
    
      &:hover {
        background-color: $footer-text;
        color: $footer-bg;
      }
    }
  }
}