@import "variables";

html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url("assets/RobotoMono-Regular.ttf");
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

@keyframes jiggle {
  0% { transform: rotate(-1deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-1deg); }
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  background-color: $header-bg;

  * {
    user-select: none;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2.5px solid $header-text;
    border-radius: 50%;
    margin-bottom: 1em;
    background-color: #D6DBDF;
  }

  nav {
    display: flex;

    a {
      padding: 5px 10px;
      border: 2px solid $header-bg;
      text-decoration: none;
      color: $header-text;

      &:hover {
        border-bottom: 2px solid $header-text;
        transition: all 0.4s ease;
      }
    }
  }
}

#fixed-background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $main-bg;
  // Downloaded from: https://www.transparenttextures.com/
  background-image: url('../assets/my-little-plaid-dark.png');
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  

  section {
    padding: 1em;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px $footer-bg;
    margin-bottom: 1em;
    background-color: $section-bg;
    color: $section-text;

    h2 {
      border-bottom: 2px solid $section-text;
      margin-top: 0;
    }

    img {
      width: 100%;
    }

    p {
      text-align: justify;
    }

    > a {
      float: right;
      padding: 5px 10px;
      border-radius: 3px;
      background-color: $section-link-bg;
      text-decoration: none;
      color: $section-bg;

      &:hover {
        background-color: $section-link-bg-hover;
        transition: all 0.4s ease;
      }
    }

    > span {
      display: block;
      text-align: center;
      color: $section-text;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: $footer-bg;
  color: $footer-text;

  img {
    margin-bottom: 1em;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      padding: 5px;
      width: 100px;
      text-align: center;
      text-decoration: none;
      color: inherit;
    
      &:hover {
        background-color: $section-link-bg-hover;
        transition: all 0.4s ease;
      }
    }
  }
}

#contact {

  fieldset {
    display: flex;
    padding: 0;
    width: 100%;
    border: none;
    border-radius: 7px;
    margin-bottom: 1em;
  }

  fieldset.error {
    
    label {
      background-color: $error-text;
    }

    input,
    textarea {
      border: 2px solid $error-border;
    }
  }

  label {
    padding: 5px;
    border: none;
    background-color: $section-text;
    text-align: center;
    color: $section-bg;
  }

  input,
  textarea {
    border: 2px solid $section-text;
    border-radius: 0;
    outline: none;
    color: $section-text;
  }

  input::placeholder,
  textarea::placeholder {
    color: $error-text;
  }

  .name,
  .email {

    label {
      width: 70px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    input {
      width: calc(100% - 70px);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .message {
    flex-direction: column;

    label {
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    textarea {
      width: 100%;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      resize: vertical;
    }
  }

  .message-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1em;
    border-radius: 3px;
    margin-bottom: 1em;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 2px;
      right: 2px;
      width: 16px;
      height: 16px;
      border: none;
      border-radius: 3px;
      background-color: inherit;
      cursor: pointer;

      img {
        width: 8px;
        height: 8px;      }
    }
  }

  .message-card.error {
    border: 2px solid $error-border;
    background-color: $error-bg;
    color: $error-text;

    button {

      &:hover {
        background-color: $error-bg-hover;
      }
    }
  }

  .message-card.success {
    border: 2px solid $success-border;
    background-color: $success-bg;
    color: $success-text;

    button {

      &:hover {
        background-color: $success-bg-hover;
      }
    }
  }

  .buttons {
    justify-content: space-evenly;

    button {
      padding: 10px;

      width: 100px;
      border: none;
      border-radius: 3px;
      background-color: $section-link-bg;
      color: $section-bg;
      cursor: pointer;
    
      &:hover {
        background-color: $section-link-bg-hover;
        transition: all 0.4s ease;
      }
    }
  }
}

.sending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px solid $section-text;
    border-radius: 50%;
    margin-bottom: 1em;
    background-color: #D6DBDF;
    animation: spin 1s ease infinite;

    img {
      height: 50px;
    }
  }

  .message {
    color: $section-text;
  }
}

.blog-posts {
  display: flex;
  flex-direction: column;

  .blog-post-link {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1em;
    background-color: $blog-post-link-bg;
    text-decoration: none;
    color: $section-text;

    &:hover {
      background-color: $section-link-bg;
      color: $section-bg;
      transition: all 0.4s ease;
      animation: jiggle 0.5s ease 1;
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .thumbnail {
        width: 100px;
        height: 100px;
        border: 2px solid $section-bg;
        border-radius: 50%;
      }

      > div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
          margin: 1em 0;
          word-wrap: break-word;
          text-align: center;
          font-size: 1.5em;
        }
  
        .date {
          text-align: center;
          font-size: 1em;
          font-style: italic;
        }
      }

      
    }
  }
}

@media only screen and (min-width: 500px) {
  
  .blog-post-link {
    
    .header {
      flex-direction: row !important;

      * {
        text-align: left !important;
      }

      > div {
        margin-left: 1em;
      
        .title {
          margin: 0 !important;
        }
      }
    }
  }
}