<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="/assets/images/favicon.svg">
  <link rel="stylesheet" href="/css/main.css">
  <noscript>
    <style>
      header {
        flex-direction: column !important;
      }

      header .hamburger {
        display: none !important;
      }

      header .logo {
        margin-bottom: 1em !important;
      }

      header nav {
        display: flex !important;
      }
    </style>
  </noscript>
</head>
<body>
  {{> header }}
  {{> menu }}
  <div id="fixed-background"></div>
  {{{ body }}}
  {{> footer }}
  <script src="/js/menu.js"></script>
</body>
</html>